/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Font-Face
	#Site Styles
	#Page Styles
	#Media Queries
	 */


/* #Font-Face
================================================== */
@font-face {
    font-family: 'League Gothic';
    src: url('../webfonts/leaguegothic-regular-webfont.eot');
    src: url('../webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../webfonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../webfonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_ltbook';
    src: url('../webfonts/futuralt-book-webfont.eot');
    src: url('../webfonts/futuralt-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/futuralt-book-webfont.woff') format('woff'),
         url('../webfonts/futuralt-book-webfont.ttf') format('truetype'),
         url('../webfonts/futuralt-book-webfont.svg#futura_ltbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'League Gothic';
	text-transform: uppercase;
}
/* #Typography
================================================== */

/* #Site Styles
================================================== */
body	{
	background: rgb(249,252,252);
	font-family: 'futura_ltbook';

}
header	{
	width: inherit;
	text-align: center;
	margin-bottom: 10px;
}
header h1 a, header h1 a:link, header h1 a:visited {
	padding-left: 5px;
	color: rgb(204,51,0);
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
header h1 a:hover {
	color: rgb(204,150,133);

}
header p {
	letter-spacing: 6px;
	color: #d1d1d1;
}

nav {
	padding: 8px 12px 8px 0px;
	width: 100%;
	background: white;
	box-shadow: inset 0px 2px 14px -3px rgba(0, 0, 0, .5);
}
nav li {
	display: inline;
	color: rgb(204,51,0);
}
nav li span {
	color:#a9a9a9;
}

nav a:link {
	color: #222;
	-webkit-transition: color 0.1s ease-in-out;
	-moz-transition: color 0.1s ease-in-out;
	transition: color 0.1s ease-in-out;
}

nav a:hover, nav a:active {
	color: rgb(204,51,0);
}

footer {

	text-align: right;
	margin-top: 2%;
}

/* #Page Styles
================================================== */

/*portfolio*/

.web p {
	font-size: 90%;
}

.portfolio img {
	width: 96%;
	padding: 2%;
}

.portfolio a {
	height: 100%;
	float: left;
	border-radius: 5px;

	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;

}

.portfolio a:hover {
		background:#dddddd;

}

.note a {
	padding: 3%;
}
/*contact*/

.contact .one-third	{
	padding-top: 3%;
	padding-bottom:1%;
	margin-bottom: 1%;
	background: rgb(245,248,248);
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
	border-radius: 5px;
	text-align: center;
}

.contact .one-third:hover	{
	background:#dddddd;
}

.contact .one-third h3, .contact .one-third p {
	margin-left: 5px;
}

.contact .one-third h3 {
	font-size: 3.5em;
	position: relative;
	top: 0px;
	-webkit-transition: top 0.2s ease-in-out;
	-moz-transition: top 0.2s ease-in-out;
	transition: top 0.2s ease-in-out;
}

.contact .one-third:hover h3 {
	top:-4px;

}

.jotform-form {
	text-align: center;
}

.jotform-form label {
	text-align: left;
}

.jotform-form li.form-line {
	float: left;
	margin: 0 39%;
}

.jotform-form li#id_17 {
	margin: 0 29%;
}

.jotform-form li#id_14 {
	margin: 0 47%;
}

.jotform-form .form-textarea {
	width: 400px;
}

.thanks {
	text-align: center;
}

/*home*/

.home .sixteen h2 {
	margin: 2% 0;
}

.dribbble img {
	width: 100%;
}

/*about*/
.about .sixteen img {
	width: 101%;
	float: left;
	margin: 5px 0 15px 0;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.jotform-form li.form-line {
			float: left;
			margin: 0 2%;
		}

		.jotform-form li#id_17 {
			margin: 0 2%;
		}

		.jotform-form li#id_14 {
			margin: 0 2%;
		}
		.jotform-form .form-textarea {
			width: 96%;
		}

	}
		
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.jotform-form li.form-line {
			float: left;
			margin: 0 2%;
		}

		.jotform-form li#id_17 {
			margin: 0 2%;
		}

		.jotform-form li#id_14 {
			margin: 0 2%;
		}
		.jotform-form .form-textarea {
			width: 96%;
		}
		
	}		

	}


